@if (totalPages() > 1) {
  <div class="pagination">
    <div class="pagination-info">
      Showing {{ startItem() }} to {{ endItem() }} of {{ totalElements() }} items
    </div>

    <div class="pagination-controls">
      <button
        (click)="previousPage()"
        [disabled]="!hasPreviousPage()"
        class="btn btn-pagination">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
        Previous
      </button>

      <div class="page-numbers">
        @for (page of pageNumbers(); track page) {
          <button
            (click)="onPageChange(page)"
            [class.active]="currentPage() === page"
            class="btn btn-page">
            {{ page + 1 }}
          </button>
        }
      </div>

      <button
        (click)="nextPage()"
        [disabled]="!hasNextPage()"
        class="btn btn-pagination">
        Next
        <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </button>
    </div>
  </div>
}

